@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--mainColor: rgb(7, 7, 231);
	--mainColorOpacity60: rgb(159, 159, 159);
	--error-color: red;
}

body {
	color: white;
	background: linear-gradient(
		359deg,
		rgb(211, 218, 232) 9%,
		rgb(69, 67, 67) 100%
	);
}
